<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/index.css" rel="stylesheet">
</head>
<body>
<% @items.each do |data| %>
<h3><%= data["volumeInfo"]["title"] %></h3>
<img src="<%= data["volumeInfo"]["imageLinks"]["smallThumbnail"] %>">
<h3><%= data["volumeInfo"]["description"] %></h3>
<% end %>
<script type="text/javascript"></script>
</body>
</html>