<style>
    body{
        background-color:skyblue;
        text-align:center;
    }
    #keyword{
        width:200px;
        height:30px;
        font-size:30px;
    }
</style>
<form action="/search" method="post">
    <input type="text" id="keyword" name="keyword">
    <input type="submit" value="検索">
</form>
