<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
    body{
        background-color:skyblue;
    }
    #keyword{
        width:200px;
        height:30px;
        font-size:30px;
    }
    #titles{
        font-size:30px;
    }
    #contents{
        background-color:blue;
        color:black;
    }
    #back{
        position:absolute;
        left:30px;
        width:50px;
        height:40px;
    }
</style>
</head>
<body>
<a href="/search_on">戻る</a><br>
<% @items.each do |data| %>
<a href="https://www.amazon.co.jp/s/ref=nb_sb_ss_i_5_11?__mk_ja_JP=カタカナ&url=search-alias%3Dstripbooks&field-keywords=<%= data["volumeInfo"]["title"] %>" target="_blank" id="titles"><%= data["volumeInfo"]["title"] %></h3>
<!--https://www.amazon.co.jp/s/ref=nb_sb_ss_i_5_11?__mk_ja_JP=カタカナ&url=search-alias%3Dstripbooks&field-keywords=   アマゾンnow-->
<!--http://product.rakuten.co.jp/search/?search_mode=200162&q=   楽天-->
<img src="<%= data["volumeInfo"]["imageLinks"]["thumbnail"] %>">
<p id="contents"><%= data["volumeInfo"]["description"] %></p>
<% end %>
<script type="text/javascript"></script>
</body>
</html>